<div id='about' class="paragraphs" style='clear:both'>
  
<h1>About the Mobile App</h1>
<h2>What will happen to the application after the Inauguration?</h2>
<p>The app will become a general guide to Washington, DC. Since <a href="http://www.pointabout.com/" title="PointAbout - Mobilize Your Brand on iPhone, Blackberry &amp; Android">PointAbout</a> is wrapping our web-based application with their native client, we have the flexibility to change it as often as we want—a benefit that would not otherwise be available to us had we created a fully-native application.  Therefore, we will be able to improve the functionality of this application as we approach the Inauguration, and after the event we can change it to focus on "Navigating Washington" without the Inauguration component. All of the tools will still be very useful.</p>

<h1>About the Website</h1>
<p>
  The website was designed in conjuction with Qorvis and FortiusOne and is powered by FortiusOne's <a href="http://www.geocommons.com/" title="GeoCommons - Visual Analytics through Maps">GeoCommons</a> visualization and analytics platform. You can find out more about how to get <a href="http://fortiusone.com/products.html" title="FortiusOne">GeoCommons for your enterprise</a> by contacting FortiusOne.
</p>
<h1>About Us</h1>
<h2>Who is Qorvis?</h2>
<p><%= image_tag "qorvis.jpg", :class => "corp_logo" %>Qorvis Communications is one of the nation’s largest independent communications firms. Formed in August 2000, Qorvis provides its clients with expertise in the areas of advertising, public and media relations, public affairs, marketing communications, Internet campaigns, investor and financial relations, grassroots, and research and opinion surveys.</p>
<p>Website: <a href="http://www.qorvis.com" title="Washington DC based National Public Relations Advertising Interactive Agency - Qorvis Communications">www.Qorvis.com</a></p>

<h2>Who is Patton Boggs?</h2>
<p><%= image_tag "patton.boggs.jpg", :class => "corp_logo" %>Based in Washington DC, Patton Boggs is a national leader in public policy, litigation, and business law and is well known for its deep bipartisan roots in the national political arena. With nine offices and more than 600 lawyers and professionals, the firm provides comprehensive, practical, and cost-effective legal counsel to clients around the globe.</p> <p>Website: <a href="http://www.pattonboggs.com" title="Patton Boggs">www.PattonBoggs.com</a></p> 

<h2>Who is PointAbout?</h2>
<p><%= image_tag "pointabout.png", :class => "corp_logo" %>PointAbout helps companies create new revenue streams by extending their brand across multiple types of mobile devices.  Our thin-client phone application can be private-labeled and installed on existing customer’s phones, and an entirely new segment of customers can be attracted by the functionality PointAbout enables companies to provide.  For the first time, PointAbout offers companies the ability to know the profile and exact physical location of their customers in real-time, opening a new channel of communication between a company and its users.</p>
<p>Website: <a href="http://www.PointAbout.com" title="PointAbout - Mobilize Your Brand on iPhone, Blackberry &amp; Android">www.PointAbout.com </a></p>

<h2>Who is FortiusOne?</h2>
<p><%= image_tag "fortiusone.jpg", :class => "corp_logo" %>FortiusOne, based in Arlington, VA, specializes in creating user-friendly tools that enable both technical and non-technical individuals to quickly derive actionable conclusions from complex data.  Users can easily analyze and visualize their own data with <a href="http://www.geocommons.com/" title="GeoCommons - Visual Analytics through Maps">GeoCommons</a>' repository of more than 7,000 data layers creating insightful maps and reports to empower decision making.
</p>
<p>Website: <a href="http://fortiusone.com/" title="FortiusOne - Next Generation Mapping">FortiusOne.com</a></p>

</div>