- content_tag_for :div, atlas do
  %h2
    =h atlas.title
    ="<b>(unlisted)</b>" unless atlas.listed
  %ul
    %li.details
      ="url: <strong>#{h atlas.url}</strong>" 
    .actions
      = link_to 'Show', top_atlas_path(:url => atlas.url)
      = link_to 'Edit', edit_atlas_path(atlas)
      = link_to 'Delete', atlas, :confirm => 'Are you sure?', :method => :delete