<div id="embed" style="display:none">
<p>To use this map on your website simply copy the following and paste it into your web page:</p>
<textarea onclick="Form.Element.select(element);" class="code" id="embed_code" rows="6" cols="50" readonly>
  &lt;style&gt;#maker_map_%mapid% {width: 100%; height: 400px;}&lt;/style&gt;
  &lt;div class=&quot;geocommons_map&quot; id=&quot;maker_map_%mapid%&quot;&gt;&lt;/div&gt;&lt;br/&gt;
  &lt;a class=&quot;geocommons_map_link&quot; id=&quot;maker_map_%mapid%_link&quot; href=&quot;<%= PLATFORM_CONFIG["maker"] %>/maps/%mapid%&quot;&gt;View full map&lt;/a&gt;
  &lt;script type=&quot;text/javascript&quot; charset=&quot;utf-8&quot; src=&quot;<%= PLATFORM_CONFIG["maker"] %>/javascripts/f1.api.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot; charset=&quot;utf-8&quot;&gt;
    maker_map_%mapid% = new F1.Maker.Map({map_id: &quot;%mapid%&quot;, dom_id: &quot;maker_map_%mapid%&quot;});
  &lt;/script&gt;</textarea>
<a href="#" id="dismiss_share">Done</a>
</div>



