%h2= "MapList \"#{@map_list.to_param}\""
- content_tag_for :div, @map_list do
  %ul
    %li
      %strong User:
      =h @map_list.user_login
    %li
      %strong Atlas:
      =h @map_list.atlas_id
    %li
      %strong Title:
      =h @map_list.title
    %li
      %strong Description:
      =h @map_list.description
    %li
      %strong Maker tag:
      =h @map_list.maker_tag
    %li
      %strong Maker user:
      =h @map_list.maker_user
    %li
      %strong Sort order:
      =h @map_list.sort_order
%ul
  %li= link_to 'Edit', edit_map_list_path(@map_list)
  %li= link_to 'Back', map_lists_path