#footer
  .footer.fl_r
    .l= "Website Design &copy; #{Time.now.year} by #{link_to "FortiusOne", "http://fortiusone.com"}, Powered By #{link_to "GeoIQ", "http://geocommons.com/"}"
    .r
      /[I'll put something here someday]